body {
    background: url("../images/nbawallpaper.jpg");
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    color: blue;
    font-weight: bold;
}

h3 {
    font-size: 50px;
    color: red;
    font-weight: bold;
}

.box1 {
    float: left;
    border: 5px;
    border-style: dashed;
    border-color: white;
    text-align: center;
    color: white;
    padding-bottom: 400px;
    width: 250px;
    margin-top: 40px;
    margin-left: 350px;
}

.box2 {
    float: right;
    border: 5px;
    border-style: dashed;
    border-color: white;
    text-align: center;
    color: white;
    padding-bottom: 400px;
    width: 250px;
    margin-top: 40px;
    margin-right: 350px;
}